# core files
core/core-val.php
core/config.php
core/php-error.log


# Gateway 
bkash/config.json

# logs
php-error.log

# thrown directory (সব কিছু)
thrown/

# nav file with space
nav/nav copy.php

# single files
inc.php
sql-learn.txt
eimbox-materio.zip
bkash/config.json

# prototype dir
prototype/

# firebase files
firebase/firebase.js
firebase-messaging-sw.js