 #preview {
     width: 200px;
     height: 200px;
     border: 1px dashed #ccc;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     cursor: pointer;
 }

 #preview img {
     max-width: 100%;
 }

 /* মডাল বডির ভেতরে ইমেজ পুরো জায়গায় সুন্দরভাবে থাকবে */
 #cropModal .modal-body {
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     min-height: 400px;
     /* ইমেজ স্পেস একটু বড় */
     max-height: 70vh;
     ;
 }

 /* ইমেজ যেন পুরো স্ক্রিনে সুন্দরভাবে ফিট করে */
 #cropImage {
     max-width: 90%;
     max-height: 50vh;
     min-width: 80%;
     min-height: 50vh;
     object-fit: contain;
     display: block;
     margin: 0 auto;
     border-radius: 8px;
 }

 .elmoro-row, .elmoro, .campaign, .Campaign {
     display: none !important;
 }

 .dt-info, .dt-length {

     padding-left: 30px;
 }

 .dt-paging, .dt-search {

     padding-right: 30px;
 }

 .data-table-stripe tbody tr:nth-child(odd) {
     background: #e5e5e6ff !important;
 }

 .data-table-stripe tbody tr:nth-child(even) {
     background: #ffffff !important;
 }


 .fs-small {
     font-size: 0.8rem;
 }


 .modal-dialog {
     max-height: 90vh;
 }

 /* modal body scrollable */
 .modal-body {
     max-height: calc(90vh - 120px);
     /* header + padding adjust */
     overflow-y: auto;
 }


 #pageBackdrop {
     position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, .25);
     /* হালকা কালো */
     z-index: 99999;
     display: flex;
     align-items: center;
     justify-content: center;
     width:100%; 
 }

 /* optional loader */
 #pageBackdrop .loader {
     width: 60px;
     height: 60px;
     border: 1px solid darkviolet;
     border-top-color: transparent;
     border-radius: 50%;
     animation: spin .8s linear infinite;
 }

 @keyframes spin {
     to {
         transform: rotate(360deg);
     }
 }

  /* Menu Warning & Danger Styling */
  .menu-item.warning > .menu-link,
  .menu-link.warning,
  .dropdown-item.warning {
      color: var(--bs-warning, #ff9f43) !important;
  }

  .menu-item.warning > .menu-link .menu-icon,
  .menu-link.warning .menu-icon,
  .dropdown-item.warning i {
      color: var(--bs-warning, #ff9f43) !important;
  }